@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.home {
    margin: 0;
}

.agents {
    margin: 0;
}

.company {
    margin: 0;
}

.logo {
    display: flex;
    width: 200px;
    height: auto;
}

.container {
    position: relative;
    text-align: left;
}

.bibliography {
    margin: 0;
}

.val {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

.header {
    line-height: 100px;
    background-color: white;
    padding: 10px;
    font-family: "Righteous";
    font-size: x-large;
    display: flex;
}

.header h1 {
    padding-left: 22%;
}

.about {
    margin: 0;
}

.author {
    text-align: right;
    font-family: "Nunito";
    font-size: large;
    color: white;
}

.author h4 {
    position:absolute;
    bottom: 90px;
    left: 70px;
}

.navbar ul {
    background-color: rgb(238, 238, 238);
    margin:0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    float: left;
    padding: 0;
}

.navbar a {
    display: block;
    font-size: 27px;
    font-family: "Lato";
    text-decoration: none;
    padding: 10px;
}


.navbar a:link {
    background-color: rgb(238, 238, 238);
    color: black;
}

.navbar a:visited {
    background-color: rgb(238, 238, 238);
    color:rgb(0, 0, 0);
}

.navbar a:hover {
    background-color:black;
    color: white;
}

.navbar a:active {
    background-color:black;
    color: white;
}

.navbar input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.title {
    font-size: 60px;
    font-family: "Rozha One";
    color:rgb(245, 244, 244);
}

.title h1 {
    position: absolute;
    top: 70px;
    left: 70px;
}

.desc {
    font-size: 20px;
    font-family: "Be Vietnam Pro";
    color:rgb(224, 224, 224);
}

.desc p {
    position: absolute;
    top: 300px;
    left: 70px;
}

.topic {
    color: black;
    font-size: 30px;
    font-family: "Rozha One";
    padding-left: 300px;
}

.para {
    color: black;
    font-size: 16px;
    font-family: "Be Vietnam Pro";
    padding-left: 300px;
}

.gameplay {
    position: absolute;
    height: auto;
    width: 30%;
    top: 650px;
    left: 600px;
}

.right {
    padding-left: 900px;
   
}

.left {
    padding-left: 300px;
}

.explore {
    color: black;
    font-size: 25px;
    font-family: "Rozha One";
    text-align: center;
}

.info {
    color: black;
    font-size: 16px;
    font-family: "Be Vietnam Pro";
}

.riot {
    position: absolute;
    left: 400px;
}

.bib {
    position: absolute;
    left: 550px;
    height: auto;
    width: 25%;
}

.jett {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 50em;
}

.phoenix {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 75em;
}

.neon {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 95em;
}

.raze {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 113em;
}

.yoru {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 130em;
}

.reyna {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 145em;
}

.astra {
    position: absolute;
    height: auto;
    width: 15%;
    right:300px;
    top: 177em;
}

.brimstone {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 200em;
}

.omen {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 220em;
}

.viper {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 240em;
}

.sova {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 270em;
}

.breach {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 290em;
}

.kayo {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 305em;
}

.skye {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 323em;
}

.chamber {
    position: absolute;
    height: auto;
    width: 15%;
    right: 300px;
    top: 355em;
}

.cypher {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 375em;
}

.killjoy {
    position: absolute;
    height: auto;
    width: 11%;
    right: 300px;
    top: 390em;
}

.sage {
    position: absolute;
    height: auto;
    width: 15%;
    left: 300px;
    top: 415em;
}